[scw-backup]
type = s3
provider = Scaleway
env_auth = false
access_key_id = <access key id here>
secret_access_key = <secret access key here>
region = fr-par
endpoint = s3.fr-par.scw.cloud
acl = private
storage_class = STANDARD